body{
    background-color: #fefae0;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}

header{
  height: 60px;
  background: black;
  width: 100%;
  z-index: 12;
  position: relative;
}

.logo-header{
  margin-left: 95%;
  margin-top: 10px;
  border-radius:5px;
  width: 40px;
  height: 40px;
}

.parallax {
  /* The image used */
  background-image: url("./imagens/imagem_mto_dahora.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nome_parallax{
  margin-top: 10%;
}

.line-1 {
  height: 5px;
  background: black;
}

.titulo{
  color: #ffffff;
  font-family: sans-serif;
  font-size: 100%;
  text-decoration: none;
}

.titulo:hover{
    color: #606c38;
}


/*--------------------Blocos de Texto e Imagens--------------------- */
.primeiro_bloco{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.primeiro_bloco h2{
  color: #283618;
  font-family: sans-serif;
  font-size: 200%;
  text-align: justify;
}
.primeiro_bloco h3{
  color: #606c38;
  font-family: sans-serif;
  font-size: 100%;
  text-align: justify;
  font-weight: bolder;
  font-size: 100%;
  max-width: 600px;
}
/* Segundo Bloco */
.segundo_bloco{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.segundo_bloco h2{
  color: #283618;
  font-family: sans-serif;
  text-align: justify;
  font-size: 200%;
}
.segundo_bloco h3{
  color: #606c38;
  font-family: sans-serif;
  font-size: 100%;
  text-align: justify;
  font-size: 100%;
  max-width: 600px;
}
/* Terceiro Bloco */
.terceiro_bloco{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.terceiro_bloco h2{
  color: #283618;
  font-family: sans-serif;
  font-size: 200%;
  text-align: right;
}
.terceiro_bloco h3{
  color: #606c38;
  font-family: sans-serif;
  font-size: 100%;
  text-align: justify;
  font-weight: bolder;
  font-size: 100%;
  max-width: 600px;
}
.bloco-text-img-1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.imagem-1-index{
  border-radius:5px;
  width: 500px;
  height: 281.16px;
}
.bloco-text-img-2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
.imagem-2-index{
  border-radius: 5px;
  width: 500px;
  height: 323.47px;
}
.bloco-text-img-3{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.imagem-3-index{
  border-radius: 5px;
  width: 500px;
  height: 348.67px;
}
.all-text-images{
  display: flex;
  flex-direction: column;
}